<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<!-- log4net settings -->
	<!--<log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="my_app.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>-->
	<log4net debug="true">
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="/logs/log.txt" />
			<appendToFile value="true" />
			<rollingStyle value="Size" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
	</log4net>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<!--<network host="relay-hosting.secureserver.net" enableSsl="true" port="465" userName="Membership@singara.org" password="MemSing@r@1517"/>-->
				<network host="relay-hosting.secureserver.net" port="25" userName="Membership@singara.org" password="MemSing@r@1517" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="/logs/log.txt" />
				<remove name="Default" />
			</listeners>
		</trace>
	</system.diagnostics>
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<!-- PayPal SDK settings -->
	<paypal>
		<settings>
			<add name="connectionTimeout" value="360000" />
			<add name="requestRetries" value="1" />
			<!--Samanth Sandbox-->
			<!--<add name="mode" value="sandbox" />
      <add name="clientId" value="AZtf8G8V4MLexAWQGDgau0tX2XkKzSI_bkiGXec1nVAg9nsSrr5CU06BU_lxpKHGB4vqkNtvLygHETGi" />
      <add name="clientSecret" value="EGzQa3dTrneGKeZaPv0tOLET5EonG6nEFIULpjkzzDHcZkddBMAM7PWtUMZK_E895WHejVEjMk-D6DLu" />-->
			<!--Kannada Sangha Sandbox-->
			<!--<add name="mode" value="sandbox" />
      <add name="clientId" value="AXPIbP8xmXIROyTJNxXgLRvOJ91SoRIMv5W4n-uMmOc5B2Y12tfy8EGW5GLvAG24_q8sUA-18gSXTk-w"/>
      <add name="clientSecret" value="EIzYFivn1pWFAMuDs5kx_Bp-ChgL19KwegLpgw5X_TmQrez-WURzgUQbZYVd3-Ak3RNrcp8PvsexTZq_" />-->
			<!--Kannada Sangha Live-->
			<add name="mode" value="live" />
			<add name="clientId" value="AUsVBLa5INCKZeTLUQ6tZo2t13ExrxVr8SJs4ePRW-MiF7END921Rasi2DCben8eXGjkKzrI4pfV0iyF" />
			<add name="clientSecret" value="EApRFbEZNI664oCxNREKtz1xKUo3I8MfDS6nixRZxF6-3R39kKCvRsR4XOlMx04jDc6oknFYiaj_i3pj" />
		</settings>
	</paypal>
	<connectionStrings>
		<add name="singaraContext" connectionString="server=182.50.133.82;user id=samanth;password=P@55w0rd;persistsecurityinfo=True;port=3306;database=SingaraProd" providerName="MySql.Data.MySqlClient" />
		<add name="Singara2016.Models.ApplicationDbContext" connectionString="Singara2016.Models.ApplicationDbContext_ConnectionString" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="Token" value="-gsqYm1Q_j-r6Z4G1-TjJMwrEXmAVq7WBxRi8ijIrXyPU6SZURdsz-hjNa4" />
		<add key="PayPalUsername" value="samanthyadav@gmail.com" />
		<add key="returnUrl" value="http://localhost:50987/paypal/success" />
		<add key="payPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
		<add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
		<add key="allowRenew" value="0" />
		<add key="paypalTax" value="0.039" />
		<add key="paypalSale" value="0.50" />
		<add key="log4net.Internal.Debug" value="true" />
		<add key="SMSUrl" value="https://mx.fortdigital.net/http/send-message?username=83464&amp;password=Singara!5!7&amp;to=%2B65{0}&amp;from={1}&amp;message={2}" />
		<add key="ReCaptcha.PrivateKey" value="6LcA7xAUAAAAAKlxfrJklfmyeH_J4U7sKuJ84aQn" />
		<add key="ReCaptcha.PublicKey" value="6LcA7xAUAAAAADBlGXy_mce7Ckd-v4OJK0DWMwAR" />
		<add key="recaptchaPublicKey" value="" />
		<add key="recaptchaPrivateKey" value="" />
		<add key="recaptchaApiVersion" value="1" />
		<add key="MembershipCC" value="Treasurer@singara.org;Secretary@singara.org" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
	<system.web>
		<customErrors mode="Off" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.8" tempDirectory="D:\InetPub\vhosts\singara.org\tmp" />
		<httpRuntime targetFramework="4.8" />
		<securityPolicy>
			<trustLevel name="Full" policyFile="internal" />
		</securityPolicy>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="WebDAVModule"/>
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<!--<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />-->
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
			<!--<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.8.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider>-->
		</providers>
	</entityFramework>
	<system.codedom>
		<!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>-->
	</system.codedom>
	<system.webServer>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<rewrite>
			<rules>
				<rule name="HTTP to HTTPS redirect" stopProcessing="true">
					<match url="(.*)" />
					<conditions>
						<add input="{HTTPS}" pattern="off" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Permanent" url="https://{HTTP_HOST}/{R:1}" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>